table {
    width: 100%;
    border-collapse: collapse;
}
body{
    padding: 50px;
}

td, th {
    padding: 20px;
    border: 1px solid black;
}
td {
    font-family:Open sans,sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #d61b06;
    border-color: black;

}
th{
    font-family: 'Patua One', cursive;
    font-size:16px;
    color:#fff;
    text-align:center;
    border-color: black;
    color: black;
    font-weight:1500;
    padding:20px;

}

