
.odd:nth-child(odd) {
    background-color: white;
}
.even:nth-child(even) {
    background-color: black;
}
.odd:nth-child(odd) {
    background-color: black;
}
.even:nth-child(odd) {
    background-color: white;
}
table{
    background-color: white;
}
.1{
backgorund-color: goldenrod;
}
#tr1 {
    background-color: goldenrod;
    font-size: 20px;
}
fieldset{
    background-color: goldenrod;
    width: 100px;
}
#A,#B,#C,#D,#E,#F,#G,#H {
    background-color: goldenrod;
    font-size: 20px;
}