#tr12{
    background-color: goldenrod;
}
.odd1 :nth-child(odd){
    background-color: black;
}
.even2 :nth-child(even){
    background-color: black;
}
.odd1 .A {
    background-color: goldenrod;
}
.even2 .A {
    background-color: goldenrod;
}
table {
    border: 2px solid black;
}
